ul.pagination {
    li {
        a.page-link {
            outline: none!important;
            box-shadow: none;
            font-size: 14px;
            &:focus {
                background-color: #fff;
            }
        }
        &.active {
            a.page-link {
                &:focus {
                    background-color: #0d6efd!important;
                    border-color: #0d6efd!important;
                }
            }   
        }
    }
}